div {
    height: 100%;
  }
  
  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
  }
  
  /* Pattern styles */
  .wrapper {
    display: table;
    width: 100%;
  }
  
  .left-half {
    position: absolute;
    left: 0px;
    width: 20%;
  }
  
  .right-half {
    position: absolute;
    right: 0px;
    width: 70%;
  }